name: Pull Request

on:
  pull_request:
    branches:
    - '*'
    paths-ignore:
    - '.github/workflows/continuous.yml'
    - '.github/workflows/release.yml'
    - 'README.md'

jobs:

  Build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: macos-latest
            arch: x86_64
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set Environment Variables
      uses: "./.github/workflows/setup"
    - name: "Build (${{ matrix.os }})"
      uses: "./.github/workflows/build"

